/* 

Template: Landing Page
Author: Shuvo Mallick
Description: Complete ecommerce Template
Version: 1.0.0
Keywords: eCommerce, Template etc. 

*/

/* =============== *** =============== */
/* ===== Home Page css ===== */
/* =============== *** =============== */

/* ===== style list table ===== */
/* 
  1. utilities class 
  2. header section
  3. hero section

  */
/* ===== style list table ===== */

/* ====================== Next Page ====================== */
/* ===== Home Page CSS ===== */
/* ====================== Next Page ====================== */
