/* 

Template: Landing Page
Author: Shuvo Mallick
Description: Complete ecommerce Template
Version: 1.0.0
Keywords: eCommerce, Template etc. 

*/

/* =============== *** =============== */
/* ===== Home Page css ===== */
/* =============== *** =============== */

/* ===== style list table ===== */
/* 
  1. utilities class 
  2. header section
  3. hero section

  */
/* ===== style list table ===== */

/* ====================== Next Page ====================== */
/* ===== Home Page CSS ===== */
/* ====================== Next Page ====================== */

:root {
  --color-primary: #23415c;
  --color-white: #fff;
  --color-gray: #d5d5d5;
}

.custom-navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  position: sticky;
  top: 0px;
  z-index: 2;
}

.custom-navbar li a {
  color: var(--color-gray);
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.custom-active {
  color: #fff !important;
}

/* Banner css start */
.bg-image {
  background-image: url("../assets/images/banner.jpg");
  max-height: 80vh;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-banner-content {
  height: 80vh;
}

.custom-banner-content h1 {
  color: var(--color-primary);
  font-size: 70px;

  font-weight: 700;
}
