/* 

Template: Landing Page
Author: Shuvo Mallick
Description: Complete ecommerce Template
Version: 1.0.0
Keywords: eCommerce, Template etc. 

*/

/* =============== *** =============== */
/* ===== Home Page css ===== */
/* =============== *** =============== */

/* ===== style list table ===== */
/* 
  1. utilities class 
  2. header section
  3. hero section

  */
/* ===== style list table ===== */

/* ====================== Next Page ====================== */
/* ===== Home Page CSS ===== */
/* ====================== Next Page ====================== */

:root {
  --color-primary: #23415c;
  --color-white: #fff;
  --color-gray: #d5d5d5;
}

.custom-navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  position: sticky;
  top: 0px;
  z-index: 2;
}

.custom-navbar li a {
  color: var(--color-gray);
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.custom-active {
  color: #fff !important;
}
