/* 

Template: Landing Page
Author: Shuvo Mallick
Description: Minimalist Landing Page Using Bootstrap
Version: 1.0.0
Keywords: landing page, Template etc. 

*/

/* =============== *** =============== */
/* ===== Home Page css ===== */
/* =============== *** =============== */

/* ===== style list table ===== */
/* 
  1. utilities class 
  2. header section
  3. hero section

  */
/* ===== style list table ===== */

/* ====================== Next Page ====================== */
/* ===== Home Page CSS ===== */
/* ====================== Next Page ====================== */

:root {
  --color-primary: #23415c;
  --color-white: #fff;
  --color-gray: #d5d5d5;

  --color-grey-700: #666276;
  --color-grey-800: #454056;
  --color-grey-900: #1f1b2d;
}

.custom-navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  position: sticky;
  top: 0px;
  z-index: 2;
}

.custom-navbar li a {
  color: var(--color-gray);
  font-weight: 600;
}

.custom-navbar ul li {
  padding-left: 10px;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.custom-active {
  color: #fff !important;
}

/* Banner css start */
.bg-image {
  background-image: url("../assets/images/Banner.jpg");
  max-height: 80vh;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.custom-banner-content {
  height: 80vh;
}

.custom-banner-content h1 {
  color: var(--color-primary);
  font-size: 70px;
  font-weight: 700;
}

.custom-banner-content h5 {
  color: var(--color-grey-700) !important;
}

.custom-btn {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  font-weight: 500 !important;
  border: none !important;
}

.custom-btn:hover {
  background-color: var(--color-white) !important;
  color: var(--color-primary) !important;
  font-weight: 500 !important;
  border: none !important;
}
/* Banner End */

/* Only Image Section Start */
.custom-only-img {
  background-image: url("../assets/images/Banner.jpg");
  max-height: 80vh;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Footer Start */
footer {
  background-color: var(--color-primary) !important;
  color: var(--color-gray);
}

.custom-social-icons i {
  padding: 10px;
  font-size: 20px;
  color: var(--color-gray);
}
